/* Estilização das páginas*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

ul {
    text-align: left;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

/* Formulário no link "contato"*/

.form-contato {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 50px;
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.form-contato label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: #0056b3;
    outline: none;
}

.form-contato textarea {
    resize: vertical;
}

.form-contato .btn-submit {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

.form-contato .btn-submit:hover {
    background-color: #218838;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

/* Estilo das caixas do portfólio */
.portfolio-box {
    width: 100%; /* Cada caixa ocupa quase 50% da largura */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

/* Efeito de hover para as caixas */
.portfolio-box:hover {
    transform: scale(1.05);
}

/* Estilo dos títulos dentro das caixas */
.portfolio-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilo dos botões */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}
